DEVICES_MAX=1000
DEVICES_TIMEOUT_STALE=120.0
DEVICES_CHECK_INTERVAL=30.0

MESQ_MAX_LEN=10000
MESQ_TIMEOUT=1.0

HTTP_HOST=0.0.0.0
HTTP_PORT=8081
HTTP_URL_ROOT=/api/v1
HTTP_URL_TELEMETRY=/ingest
HTTP_URL_REGISTER=/devices/register
HTTP_URL_HEALTH=/health

# PIPELINE_STAGES=

DEBUG=True
LOG_SEVERITY=INFO