GATEWAY_ID=1
GATEWAY_NAME='IoT Gateway'

DEVICES_MAX=1000
DEVICES_TIMEOUT_STALE=120.0
DEVICES_CHECK_INTERVAL=30.0

MESQ_MAX_LEN=10000
MESQ_TIMEOUT=1.0

STORAGE_TYPE='sqlite'  # sqlite | postgresql
# STORAGE_DB_CONNSTR='sqlite+aiosqlite://data/telemetry.db'  # пример для sqlite
STORAGE_DB_CONNSTR='data/telemetry.db'
# STORAGE_DB_CONNSTR='postgresql://admin:password@localhost:5432/iotgateway?application_name=gateway'  # пример для postgresql

HTTP_HOST='0.0.0.0'
HTTP_PORT=8081
HTTP_URL_ROOT='/api/v1'
HTTP_URL_TELEMETRY='/ingest'
HTTP_URL_REGISTER='/devices/register'
HTTP_URL_HEALTH='/health'

WS_HOST='0.0.0.0'
WS_PORT=8082
WS_URL_ROOT='/api/v1/ws'
WS_URL_WS='/ingest'
WS_URL_REGISTER='/devices/register'
WS_URL_HEALTH='/health'

COAP_HOST='127.0.0.1'
COAP_PORT=5683
COAP_URL_ROOT='/api/v1/coap'
COAP_URL_WS='/ingest'
COAP_URL_REGISTER='/devices/register'
COAP_URL_HEALTH='/health'
COAP_TIMEOUT_REJECT=0.5

# PIPELINE_STAGES=

DEBUG=True
LOG_SEVERITY='INFO'