# В случае проблем, связанных с пакетами или версиями,
# следует обратиться к `help/frozen_requirements.txt`

# Базовые требования проекта
-r ./base_requirements.txt

# Требования для тестов
-r ./tests/requirements.txt

# Требования для веб-приложения
-r ./web/requirements.txt